@media screen and (min-width: 64em){
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em){
    #nav_1,
    #nav_2,
    .fa-search{
        display: none;
    }
    .img_header {
        width: 175.25px;
        height: 80px;
        margin-left: -7em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #header .fa-bars{
        font-size: 40px;
        margin-right: 18em;    
    }
    .content {
        
        width: 77em;
        padding: 0 86px;
    }
    .content_heading1 {
        font-size: 7rem;
        
    }
    .content_heading2 {
        font-size: 7rem;
    }
    #introduce {
        
        width: 84em;
    }   
    #about {
        position: absolute;
        top: 52em;
    }
    .img_content {
        width: 19em;
        margin-top: 69px;
    }
    #introduce {
        position: relative;
        height: 2521px;
        margin-top: 150px;
        overflow: hidden;
        margin-bottom: 136px;
    }
    .img__about {
        width: 34em;
        height: 52em;
        border-radius: 55px;

    }
    .img_about {
        position: absolute;
        width: 34em;
        height: 52em;
        object-fit: cover;
        border-radius: 55px;
        -webkit-transform: none;
        transform: none;
    }
    .about_heading{
        
        font-size: 43px;
    }
    .about_title{
        font-size: 79px;
        margin: 22px 0;
    }
    .content_para{
        font-size: 30px;
    }
    .about_dish {
        position: absolute;
        margin-left: -39em;
        margin-top: 103px;
    }
    .dish_title{
        font-size: 42px;
        margin-bottom: 42px;
    }
    .dish_img {
        width: 23em;
        height: 23em;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        border-radius: 0 20px;
    }
    .dish_name {
        font-size: 31px;
        margin-top: 25px;
    }
    #special {
        position: relative;
        background-color: #f7f8f9;
        padding-top: 130px;
        padding-left: 24px;
        padding-right: 24px;
        height: 4000px;
        /* overflow: hidden; */
        width: 84em;
    }
    .name_dish1,
    .name_dish2,
    .name_dish3,
    .name_dish4,
    .name_dish5 {
        font-size: 40px;
    }
    .type_dish1,
    .type_dish2,
    .type_dish3,
    .type_dish4,
    .type_dish5 {
        
        font-size: 31px;
        margin-top: 12px;
    }
    .cost_dish1,
    .cost_dish2,
    .cost_dish3,
    .cost_dish4,
    .cost_dish5 {
        font-size: 36px;
        margin-bottom: 55px;
    }
    .btn_dish1,
    .btn_dish2,
    .btn_dish3,
    .btn_dish4,
    .btn_dish5{
        padding: 29px 72px;
        font-size: 31px;
    }
    .list_menu {
        padding-left: 78px;
        width: 81em;
    }
    #menu {
        position: relative;
        padding: 80px 22px;
        width: 84em;
    }
    .list_chef {
        display: flex;
        justify-content: space-around;
        width: 81em;
    }
    .team_content {
        text-align: center;
        margin-bottom: 53px;
        width: 82em;
    }
    #open_hour {
        display: flex;
        position: relative;
        margin-top: 250px;
        padding-top: 155px;
        width: 88em;
    }
}

@media screen and (max-width: 46.1875em){
    html {
        scroll-behavior: smooth;
        width: 84em;
    }
    #nav_1,
    #nav_2,
    .fa-search{
        display: none;
    }
    .img_header {
        width: 362.25px;
        height: 161px;
        margin-left: -7em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #header .fa-bars{
        font-size: 80px;
        margin-right: 10em;    
    }
    .slider_dish {
        position: absolute;
        top: 63em;

    }
    #introduce {
        position: relative;
        height: 3000px;
        margin-top: 150px;
        overflow: hidden;
    }
}