*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    margin-top: 45px;
    margin-left: 40px;
}
#header .fa-bars{
    
}
#nav_1{

}
#nav_1 li {
    dis
}
.img_header{

}
#nav_2{

}
#header .fa-search{

}