*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    margin-top: 45px;
    margin-left: 40px;
}
#header .fa-bars{
    
}
.header_1{

}
.hea
.img_header{

}
.header_2{

}
#header .fa-search{

}