*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    
    margin-top: 45px;
    margin-left: 150px;
}
#header .fa-bars:hover{
    color: #45b8ac;
    cursor: pointer;
    transform: rotate(360deg);
    transition: .6s ease;
}
#header .fa-bars{
    display: inline-block;
    margin-right: 140px;
    font-size: 20px;
}
#header .fa-search{
    font-size: 20px;
    margin-left: 150px;
}
#header .fa-search:hover{
    color: #45b8ac;
    cursor: pointer;
    font-size: 30px;
    transition: 0.4s ease;
}
#nav_1{
    display: inline-block;

}
#nav_1 > li {
    display: inline-block;
    position: relative;
}
#nav > li:hover{
    display: block;
}

#nav_1 > li > a {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    opacity: 0.8;
    display: block;
    color: black;
    text-decoration: none;
    padding: 6px 8px;
}
#nav_1 > li > a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #45b8ac;
    height: 3px;
    width: 0%;
    transition: 0.6s ease ;
}
#nav_1 > li > a:hover:before {
    width: 100%;
}
#nav_1 li:hover .subnav_1{
    display: block;
    animation: subnav-1 1s ease ;
}
@keyframes subnav-1{
    0%{
        opacity: 0;
        left: 100px;
    }
    50%{
        left: -20px;
    }
    100%{
        left: 0;
    }
    
}
.subnav_1{
    position: absolute;
    top: 30px;
    opacity: 1;
    width: 162px;
    /* display: none; */
    z-index: 2;
    overflow: hidden;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.subnav_1 li{
    display: block;
}

.subnav_1 li a{
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    opacity: 0.8;
    color: black;
    text-decoration: none;
    padding: 6px 8px;
    display: block;
}
.subnav_1 li a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #45b8ac;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: 0.8s ease;
}
.subnav_1 li a:hover:before{
    color: white;
    background-color: #45b8ac;
    width: 100%;
    height: 100%;
}



.img_header{
    width: 117.25px;
    height: 50px;
    margin-left: 78px;
    margin-right: 94px;
}
#nav_2{
    display: inline-block;
}
#nav_2 li {
    display: inline-block;
}

#nav_2 li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    opacity: 0.8;
    padding: 6px 8px;
}
#nav_2 li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #45b8ac;
    height: 3px;
    width: 0%;
    transition: 0.6s ease;
}
#nav_2 li a:hover:before {
    width: 100%;
}
#introduce{
    position: relative;
    height: 2000px;
}
.content{
    position: absolute;
    top: 86px;
    left: 50px;
}
.content_heading1{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.content_heading2{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    padding-top: 14px;
    padding-bottom: 59px;
}
.slider_dish{
    
}
.img_dish{
    position: absolute;
    width: 545px;
    height: 292px;
    object-fit: cover;
    top: 11px;
    left: 167%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}
.about{
    position: absolute;
    top: 29em;
}
.img_about{
    width: 474px;
    height: 700px;
    object-fit: cover;
    margin-left: 52px;
    border-radius: 20px;
}
.about_content{
    position: absolute;
    top: 76px;
    left: 43em;
    width: 100%;
}
.about_heading{
    color: #45b8ac;
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}
.about_title{
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
}
.content_para{
    font-family: 'Josefin Sans',sans-serif;
    text-align: justify;
    opacity: 0.8;
    line-height: 1.4;
    margin-bottom: 58px;
}
.about_dish{
    position: absolute;
}
.list_dish{
    display: flex;
}
.dish_items{
    margin-right: 50px;
}
.dish_title{
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 8px;
}
.dish_img{
    width: 150px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.dish_name{
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 400;
    margin-top: 10px;
    font-size: 15px;
    color: #45b8ac;

}





