*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    margin-top: 45px;
    margin-left: 40px;
}
#header .fa-bars{
    display: inline-block;
    
}
#nav_1{
    display: inline-block;

}
#nav_1 li {
    display: inline-block;
}
#na_1 li a {
    co
}
.img_header{

}
#nav_2{

}
#header .fa-search{

}