*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    margin-top: 45px;
    margin-left: 150px;
}
#header .fa-bars:hover{
    color: #45b8ac;
    cursor: pointer;
    transform: rotate(360deg);
    transition: .6s ease;
}
#header .fa-bars{
    display: inline-block;
    margin-right: 140px;
}
#nav_1{
    display: inline-block;

}
#nav_1 li {
    display: inline-block;
}
#nav_1 li a:hover {
    /* color: #45b8ac; */
}
#nav_1 li a {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    opacity: 0.8;
    color: black;
    text-decoration: none;
    padding: 6px 8px;
}
#nav_1 li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #45b8ac;
    height: 30px;
    width: 0%;
    z-index: -1;
    transition: 0.6s ease ;
}
#nav_1 li a:hover:before {
    width: 100%;
}



.img_header{
    width: 117.25px;
    height: 50px;
    margin-left: 78px;
    margin-right: 94px;
}
#nav_2{
    display: inline-block;
}
#nav_2 li {
    display: inline-block;
}
#nav_2 li a:hover {
    /* color: #45b8ac; */
}
#nav_2 li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    opacity: 0.8;
    padding: 6px 8px;
}
#nav_2 li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #45b8ac;
    height: 3px;
    width: 0%;
    transition: 0.6s ease;
}
#nav_2 li a:hover:before {
    width: 100%;
}


#header .fa-search{
    margin-left: 150px;
}
#header .fa-search:hover{
    color: #45b8ac;
    cursor: pointer;
}